<h1>Create Account</h1>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

<%= form_for @user do |f| %>
	<% @user.errors.full_messages.each do |msg| %>
	<%= msg %>
	<% end %>

	<br>
	Name: <%= f.text_field :name %>
	E-mail: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	Confirm Password: <%= f.password_field :password_confirmation %>
	<%= f.submit "Submit" %>

<% end %>
