<!DOCTYPE html>
<html>
<head>
  <title>SearchFindAcquire.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="navbar">
		<% if current_user %>
			Signed in as <%= current_user.name %> | <%= link_to "Log Out", '/logout' %>
		<% else %>
			<%= link_to 'Log In', '/login' %> | <%= link_to 'Sign Up', '/signup' %>
		<% end %>
		<div class="nav-cart"><%= link_to 'Cart', '/carts' %></div>
	</div>

<div class="nav">
	<h1><a href="/">SearchFindAcquire</a></h1>
	<br class="clear">
</div>

<%= form_tag products_path, :method => 'get' do %>
<p class="searchbtn">
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<%= link_to "All Products", products_path %>

<%= yield %>

</body>
</html>
